@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "style";

main {
  .abaut-us {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: $lightgreen-color;
    border-radius: 30px;

    .abaut-us-img {
      max-width: 40%;
      object-fit: cover;
      background-position: center;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
    }

    .abaut-us-text {
      padding: 10%;

      h1 {
        text-align: center;
        color: $primary-color;
        padding-bottom: 10%;
      }

      h2 {
        text-align: center;
        padding-bottom: 10%;
      }
      P {
        line-height: 1.5;
        font-size: 20px;
        text-align: justify;
      }

      .abaut-us-icon {
        padding-top: 50px;
        width: 10%;
        opacity: 0.3;
      }
    }
  }
}

@media (max-width: 768px) {
  .abaut-us {
    display: flex;
    flex-direction: column;
  }
  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 426px) {
  main {
    padding: 1%;

    .abaut-us {
      display: flex;
      text-align: center;
      align-items: center;
      background-color: $lightgreen-color;
      border-radius: 30px;

      .abaut-us-img {
        display: none;
      }
    }
  }

  footer {
    margin: 0;

    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
}
