@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "style";

main {
  section {
    background-color: $lightgreen-color;
    border-radius: 30px;

    h2 {
      text-align: center;
      padding-top: 30px;
      color: $primary-color;
    }

    .plants-catalog {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;

      .plant-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .card-text {
          display: flex;
          flex-direction: column;
          padding: 10px 10px;
        }

        img {
          width: 250px;

          height: 100%;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          object-fit: cover;
        }
      }
    }
  }
}
