@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "style";

main {
  .contact-us-img {
    height: 30%;
    width: 30%;
    border-radius: 50%;
  }

  .contact-form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background-color: $lightgreen-color;
    padding: 3%;
    border-radius: 30px;

    h2 {
      color: $primary-color;
    }

    label {
      display: block;
      color: $primary-color;
      padding: 15px 0px 5px;
    }
    input,
    textarea {
      border: none;
      width: 100%;
      padding: 10px;

      &:hover {
        background-color: rgb(216, 236, 216);
      }
    }
    button {
      background-color: $primary-color;
      color: white;
      padding: 10px 20px;
      margin-top: 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

@media (max-width: 426px) {
  main {
    padding: 1%;

    h2 {
      text-align: center;
      padding: 5%;
    }

    .contact-us-img {
      height: 30%;
      width: 30%;
      border-radius: 50%;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      padding: 10% 10% 20%;

      .contact-us-img {
        width: 80%;
        padding-bottom: 5%;
      }

      button {
        width: 100%;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}
