@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Figtree", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 15px 10% 0px;
  margin: 0 auto;

  .logo-img {
    width: 50px;
  }

  nav {
    li {
      display: inline;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: $text-color;
      text-align: center;
      padding: 20px;
      font-size: 20px;
      font-weight: 400;
    }
    a:hover {
      color: $secondary-color;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  padding: 0 10%;

  .hero-img{
    max-width: 1200px;
    border-radius: 30px;
    padding-top: 10px;


  }
}
