@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Figtree", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin: 15px 0px;

  .logo-container {
    display: flex;
    align-items: center;

    .logo-img {
      width: 50px;
      animation-name: rotate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    .logo-img2 {
      width: 60px;
    }

    h1 {
      font-size: 20px;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotateY(360deg);
    }
  }

  nav {
    li {
      display: inline;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: $text-color;
      text-align: center;
      padding-bottom: 5px;
      margin: 0 20px;
      font-size: 20px;
      font-weight: 500;
      transition: transform 0.3s ease;
    }
    a:hover {
      color: $secondary-color;
      border-bottom: 1px solid;
      padding-bottom: 5px;
    }
  }

/* Burger meniu mobiliesiems įrenginiams */
.burger-container{
  display: none; /* Paslėpta pagal nutylėjimą */
  position: relative;

  #burger-toggle {
    display: block;
    opacity: 0;
  }
  img{
    width: 30px;
}
  }



  /* Meniu pagal nutylėjimą paslėptas */
  .burger-nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color:$lightgreen-color;
    width: 200px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    ul {
      list-style: none;

      a {
        text-decoration: none;
        display: block;
        color: $primary-color;
        padding: 10px;
        font-size: 18px;
      }
    }
  }

  /* Kai burger mygtukas pažymėtas, rodyti meniu */
  #burger-toggle:checked ~ .burger-nav {
    display: block;
  }

  /* Media queries - burger meniu rodomas mažesniuose ekranuose */
  @media (max-width: 768px) {
    .header-nav {
      display: none; /* Slėpti įprastą meniu mobiliuosiuose įrenginiuose */
    }

    .burger-container {
      display: block;
      z-index: 1;
    }
  }

  /* Pridėta perėjimo animacija */
  .burger-nav {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #burger-toggle:checked ~ .burger-nav {
    opacity: 1;
  }
}

main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;

  .hero-img {
    background-image: url("/images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; /* užpildys visą plotį */
    height: 400px; /* arba nustatyk norimą aukštį */
    position: relative;
    border-radius: 30px;
    padding-left: 10%;
    align-content: center;

    .hero-text {
      display: flex;
      flex-direction: column;
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(5px);
      width: 300px;
      padding: 30px;
      background-color: rgba(177, 193, 176, 0.633);
      border-radius: 10px;
      text-align: center;
      font-size: 30px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      &:hover {
        transform: translateY(-3px);
      }

      p {
        font-size: 30px;
      }
      .strong-text {
        padding-top: 10px;
      }
      .buttom {
        text-decoration: none;
        color: $lightgreen-color;
        padding: 10px;
        border-radius: 10px;
        background-color: $primary-color;
        font-size: 20px;
        margin-top: 20px;

        &:hover {
          transform: translateY(-3px);
          background-color: $secondary-color;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.services {
  margin-top: 40px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: $primary-color;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    .service-card {
      background-color: $lightgreen-color;
      text-align: center;
      padding: 40px 60px;
      margin-bottom: 20px;
      border-radius: 10px;
      transition: transform 0.3s ease;

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      }
      h3 {
        color: $primary-color;
        margin-bottom: 10px;
      }

      p {
        color: $text-color;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  margin: 0px 10%;
  border-radius: 10px;
  background-color: $primary-color;

  nav {
    li {
      display: inline;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: $lightgreen-color;
      text-align: center;
      margin: 0 20px;
      font-size: 15px;
      font-weight: 300;
    }
    a:hover {
      border-bottom: 1px solid;
      padding-bottom: 5px;
      border-color: $lightgreen-color;
    }
  }
}
